<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyBrandstofCafe</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyBrandstofCafe.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">MyBrandstofCafe</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>
    <!--Zelf Gemaakt-->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="Start-tab" data-bs-toggle="tab" data-bs-target="#Start" type="button" role="tab" aria-controls="Start" aria-selected="true" asp-page="Index">Start</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="Bestelling-tab" data-bs-toggle="tab" data-bs-target="#Bestelling" type="button" role="tab" aria-controls="Bestelling" aria-selected="false" asp-page="Bestelling/Index">Bestelling</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="Plattegrond-tab" data-bs-toggle="tab" data-bs-target="#Plattegrond" type="button" role="tab" aria-controls="Plattegrond" aria-selected="false" asp-page="Plattegrond/Index">Plattegrond</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="Voorraad-tab" data-bs-toggle="tab" data-bs-target="#Voorraad" type="button" role="tab" aria-controls="Voorraad" aria-selected="false" asp-page="Voorraad/Index">Voorraad</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="Werknemer-tab" data-bs-toggle="tab" data-bs-target="#Werknemer" type="button" role="tab" aria-controls="Werknemer" aria-selected="false" asp-page="Werknemer/Index">Werknemer</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="Documentatie-tab" data-bs-toggle="tab" data-bs-target="#Documentatie" type="button" role="tab" aria-controls="Documentatie" aria-selected="false" asp-page="Documentatie/Index">Documentatie</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
    </div>
    <!--Einde invoeg-->




    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - MyBrandstofCafe - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>