<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Brandstof Cafe</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyBrandstofCafe.styles.css" asp-append-version="true" />
</head>

<body>
    <div class="bg-image">
    <header>
            <nav class="navbar bg-primary border-bottom box-shadow">
                    <a asp-page="/Index"><img src="./Images/NHLStendenLogo.jpg" class="customIcon rounded float-start " alt="NhlStendenLogo" style="width: 4rem; height: 4rem;"></a>
                <a class="navbar-brand text-white" asp-page="/Index">MyBrandstofCafe</a>
            </nav>
            <div class="container justify-content-center align-content-center" style="background-color:ghostwhite; height: 3rem;">
                <div class="customButtons">
                    <button href="../Index" type="button" class="btn btn-outline-info">Start</button>
                    <button href="../Bestellingen/Index" type="button" class="btn btn-outline-info">Bestellen</button>
                    <button href="../Plattegrond/Index" type="button" class="btn btn-outline-info">Plattegrond</button>
                    <button href="../Voorraad/Index" type="button" class="btn btn-outline-info">Voorraad</button>
                    <button href="../Werknemer/Index" type="button" class="btn btn-outline-info">Werknemer</button>
                    <button href="../Documentatie" type="button" class="btn btn-outline-info">Documentatie</button>
                </div>
            </div>
    </header>
    </br>


    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-white bg-primary">
        <div class="container">
            &copy; 2024 - MyBrandstofCafe - <a class="text-light" asp-page="/Contact">Contact</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>
</html>