@page
@model MyBrandstofCafe.Pages.Bestellingen.IndexModel
@{
}

<div class="row">
    <div class="col-2 border m-1">
        <h5>Menu</h5>
    </div>
    <div class="col-8 border m-1">
        <div>
        <h5>Bestelling</h5>
        </div>
        <div class="text-center">
            <button>Bestelling plaatsten</button>
        </div>
    </div>
</div>
