@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<br/>
<!--content naar midden pagina..-->
<div class="container-fluid">
    <div class="card" style="width: 50%; height: 50%; justify-content:center!important; align-content:center!important;">
        <img src="./Images/BrandstofCafeLM.jpg" class="card-img-top" alt="BrandstofCafeLM">
            <div class="card-body">
                <h5 class="card-title">Snel bestellen!</h5>
                <p class="card-text">Klik op de knop hieronder om snel naar bestellen te gaan!</p>
                <a href="../Bestellingen/Index" class="btn btn-primary">Bestellen</a>
            </div>
    </div>
</div>


<style>
    card-img-top{
    object-fit: contain;
    width: 21,5rem;
    height: 21,5rem;
    }
</style>

