@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="card justify-content-center align-content-center" style="width: 50%; height: 50%">
    <img src="./Images/BrandstofCafeLM.jpg" class="card-img-top" alt="BrandstofCafeLM" style="width: 21,5rem; height: 21,5rem;">
        <div class="card-body">
            <h5 class="card-title">Snel bestellen!</h5>
            <p class="card-text">Klik op de knop hieronder om snel naar bestellen te gaan!</p>
            <a href="../Bestellingen/Index" class="btn btn-primary">Bestellen</a>
        </div>
</div>


<style>
    card-img-top{
    object-fit: contain;
    }
</style>

